{{!-- login-signup --}}
<div class="container-fluid row d-flex col-12 flex-column flex-lg-row">
{{!-- login card --}}
  <div class=" col-12 col-lg-6 p-3">
    <div class="card p-5">
      <h2 class="text-center">Login</h2>
      <form class="form login-form d-flex flex-column form-control">
        <div class="form-group d-flex justify-content-center p-3">
          <input class="form-input form-control" type="text" id="username-login" placeholder="username" />
        </div>
        <div class="form-group p-3">
          <input class="form-input form-control" type="password" id="password-login" placeholder="password" />
        </div>
        <div class="form-group d-flex justify-content-center p-3">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
  </div>
{{!-- signup card --}}
  <div class="col-12 col-lg-6 p-3">
    <div class="card p-5">
      <h2 class="text-center">Signup</h2>
      <form class="form signup-form d-flex flex-column form-control">
        <div class="form-group d-flex justify-content-center p-3">
          <input class="form-input form-control" type="text" id="user-signup" placeholder="username" />
        </div>
        <div class="form-group p-3">
          <input class="form-input form-control" type="password" id="password-signup" placeholder="password" />
        </div>
        <div class="form-group d-flex justify-content-center p-3">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>

</div>
{{!-- login/signup script --}}
<script src="/js/login.js"></script>
